body {
    background: rgb(120, 0, 0);
    font-family: Arial;

}

.assignments {
    display: flex;
    flex-wrap: wrap;
}

.assignment {
    width: 22%;
    padding: 10px;
    margin: 10px;
    padding: 20 px 10px;
    background: gray;
    border-radius: 5px;

}

.assignment img {
    width: 200px;
    height: 125px;
    margin: 10px;
    display: block;
    margin: auto;

}
h1 {
    color: rgb(0, 0, 0);
}

h2{
    text-align: center;
}
